.todo_list_contaner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    min-height: 90vh;


}

.todo_item_raaper{
    width: 80%;
    margin: 0 auto;


}